
@import "reset";
.container{
    max-width: 750px;
    margin: 0 auto;
}
.nav{
    display: flex;
    line-height: 50px;
    text-align: center;
    @at-root {
        .nav-tab{
            flex-grow: 1;
        }
    }
}
.bar{
    width: 100%;
    position: relative;
    height: 2px;
    @at-root {
        .bar-progress{
            position: absolute;
            left: 0;
            top: 0;
            width: 25%;
            height: 100%;
            background-color: #00AA00;
            transform: translate3d(0, 0, 0);
            transition: 1s left;
        }
    }
}




.item{
    line-height: 40px;
    text-align: center;
    background-color: #999;
}


